etcd:
 address: "{{ overlay['lh'].ip }}" # this will be on nebula network
 port: 2379
 timeout: 3000000000 # 3s
 tls:
   key: /etc/etcd/db-key.pem
   cert: /etc/etcd/db.pem
   cacert: /etc/etcd/ca.pem
